.box {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.f-72 {
    font-size: 72px;
}

.bg-red {
    background-color: #f0466f;
}

.bg-aqua {
    background-color: #0bd6a1;
}

.bg-yellow {
    background-color: #ffd166;
}

.bg-blue {
    background-color: #1389b2;
}

.bg-dark-blue {
    background-color: #083b4c;
}